@import 'tailwindcss';

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1362px;

  --font-body: 'JetBrains Mono', 'Fira Code', 'Monaco', 'Consolas', monospace;

  --color-dark-50: #f6f6f6;
  --color-dark-100: #e7e7e7;
  --color-dark-200: #d1d1d1;
  --color-dark-300: #b0b0b0;
  --color-dark-400: #888888;
  --color-dark-500: #6d6d6d;
  --color-dark-600: #5d5d5d;
  --color-dark-700: #4f4f4f;
  --color-dark-800: #454545;
  --color-dark-900: #3d3d3d;
  --color-dark-950: #111111;

  --color-purple-50: #f4f3ff;
  --color-purple-100: #ece9fe;
  --color-purple-200: #dbd6fe;
  --color-purple-300: #c0b4fe;
  --color-purple-400: #a18afb;
  --color-purple-500: #825bf7;
  --color-purple-600: #7239ee;
  --color-purple-700: #5f24d5;
  --color-purple-800: #5220b7;
  --color-purple-900: #451c96;
  --color-purple-950: #290f66;

  --color-teal-50: #eefffb;
  --color-teal-100: #c6fff3;
  --color-teal-200: #8dffea;
  --color-teal-300: #44fcdd;
  --color-teal-400: #17eacd;
  --color-teal-500: #00cdb5;
  --color-teal-600: #00a594;
  --color-teal-700: #028378;
  --color-teal-800: #076861;
  --color-teal-900: #0b5650;
  --color-teal-950: #003532;

  --color-offline: #ff6467;
  --color-online: #00dc82;
}

@layer base {
  html,
  body,
  #__nuxt {
    @apply flex h-screen flex-col;
  }

  body {
    @apply font-body bg-dark-950 text-dark-400 p-5;
  }

  #__nuxt {
    @apply flex-1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-8xl tracking-tighter uppercase text-dark-200 leading-20;
  }

  h2 {
    @apply text-xl uppercase text-dark-200 leading-5;
  }
}

@utility bg-pattern {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 64px 64px;
}

@utility transform-3d {
  transform: rotateX(50deg);
  transform-style: preserve-3d;
  perspective: 1000px;
}

@utility perspective-200 {
  perspective: 200px;
}
