@import 'tailwindcss';

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1362px;

  --font-body: 'JetBrains Mono', 'Fira Code', 'Monaco', 'Consolas', monospace;
}

@layer base {
  html,
  body {
    @apply font-body flex h-auto min-h-screen flex-col bg-black text-white;
  }
}
